
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Acerca de Nosotros</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active"> Acerca de Nosotros </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->


<div class="di">
    <div class="container px-20">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/pcn.png" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">PCN</h2>
                    <p>En este sitio web cualquier productor en el territorio panameño, puede promover sus propias tierras y productos, 
                        el productor podrá alojar en dicho sitio web la mercancía que tiene actualmente a la venta (legumbres, vegetales, carne 
                        Bovina, Porcina, Avícola; entre otros). A su vez también podrá publicar si dispone de alguna siembra, tierra o finca a la venta. 
                        El productor podrá publicar su precio, datos personales del sitio donde se ubica el cultivo, información del productor, fechas 
                        de producción y expiración; entre otros datos de usos prioritarios para su venta. </p>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="div">
    
     <!--<section class="page-section bg-light" id="team">-->
        <div class="container">
            <br><br>
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Equipo Administrativo de PCN</h2>
                <h3 class="section-subheading text-muted">Equipo de Diseño</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="" src="assets/img/1.jpg" alt="..." />
                        <h4>Francisco Olivero</h4>
                        <p class="text-muted">Desarrollador Principal</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/3.jpg" alt="..." />
                        <h4>Yahir Montenegro</h4>
                        <p class="text-muted">Diseñador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/2.jpg" alt="..." />
                        <h4>Linageiris Guillen</h4>
                        <p class="text-muted">Diseñador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/4.jpg" alt="..." />
                        <h4>Miguel Mark</h4>
                        <p class="text-muted">Diseñador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
            </div>
        </div>
    

</div>


    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>PONERSE EN CONTACTO CON PCN</h2>
                        <p>Envianos un email para conocer mas acerca del sistema de PCN</p>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Correo" id="email" class="form-control" name="name" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="name" placeholder="Asunto" required data-error="Please enter your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Escriba su mensaje" rows="4" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Enviar Mensaje</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
				<div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h2>INFORMACIÓN DEL CONTACTO</h2>
                        <p>PCN busca promover a los productores nacionales y a toda aquella persona
                            que viva en algun lugar del territorio panameño y a su vez cuente
                            con alguna pequeña empresa dedicada al sector del campo a poder
                            suministrar de mejor forma sus productos. <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Direccion Campus Victor Levi Sasso. Via Centenario <br>Ancon,<br> Panamá </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Telefono: <a href="tel:+507-566-3000">566-3000</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Correo: <a href="email:pcn@utp.ac.pa">pcn@utp.ac.pa</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->
