
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Carrito</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">inicio</a></li>
                        <li class="breadcrumb-item active">Carrito</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let it_canasta of canasta">

                                    <td class="thumbnail-img">
                                        <a >
                                            <img class="img-fluid" [src]="it_canasta.img" alt="" />
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a >
                                            {{ it_canasta.producto}}
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>$ {{ it_canasta.precios}}</p>
                                    </td>
                                    <td class="quantity-box">
                                        <p> ct: {{ it_canasta.cantidad}} </p>
                                    </td>
                                    <td class="total-pr">
                                        <p>$ {{ it_canasta.precios * it_canasta.cantidad }} </p>
                                    </td>
                                    <td class="remove-pr">
                                        <a >
                                    <i class="fas fa-times"></i>
                                    </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Ingrese Cupon de Descuento" aria-label="Coupon code" type="text" [(ngModel)]="descuentoText">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button" (click)="onDescuento()">Validar Cupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Generar Total" type="submit" (click)="onGenerarTotal()">
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Total de orden</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold"> $ {{subTotal | number: '3.1-2'}}</div>
                        </div>
                        <div class="d-flex">
                            <h4>ITBMS</h4>
                            <div class="ml-auto font-weight-bold"> $ {{ITBMS | number: '3.1-2'}} </div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Descuento Nombre</h4>
                            <div class="ml-auto font-weight-bold"> {{ descuentoText }} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Valido</h4>
                            <div class="ml-auto font-weight-bold"> {{respuesta }} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Descuento</h4>
                            <div class="ml-auto font-weight-bold"> $ {{- descuento | number: '3.1-2'}} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Comision por Servicio</h4>
                            <div class="ml-auto font-weight-bold"> $ {{comisionServicio | number: '3.1-2'}} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Costo de Envio</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Gran Total</h5>
                            <div class="ml-auto h5"> $ {{granTotal | number: '3.1-2'}} </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"> <a class="ml-auto btn hvr-hover" (click)="onRealizarCompra()" style="margin-right: 20px;">COMPRAR</a> </div>
                <div class="col-12 d-flex shopping-box"> <a class="ml-auto" id="myPaypalButton" style="width: 30%;"></a></div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
